{% extends 'base.html.twig' %}

{% block title %}Aperçu élève{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="d-flex justify-content-center">Fiche profil {{student.lastName }} {{student.firstName}}</h1>
        <div class="row mt-3">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-img">
                        <img style="max-width: 100%;" src="{{ vich_uploader_asset(student, 'imageFile') }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <p>{{student.lastName}}</p>
                        <p>{{student.firstName}}</p>
                        <p>{{student.birthday}}</p>
                        <p>{{student.pai}}</p>
                        <p>{{student.descriptionPai}}</p>
                        <p>{{student.allergy}}</p>
                        <p>{{student.descriptionAllergy}}</p>
                        <p>{{student.outdoorGlasses}}</p>
                        {% for user in users %}
                            <p>{{user.lastName}} {{user.firstName}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="{{ path('student_update', { id: student.id }) }}"><button type="button" class="btn btn-outline-primary btn-lg mx-1">Modifier profil</button></a>
            <a href="{{ path('student_delete', { id: student.id }) }}"><button type="button" class="btn btn-outline-danger btn-lg mx-1">Supprimer profil</button></a>
            <input type="button" class="btn btn-outline-info btn-lg mx-1" value="Retour" onclick="history.back()">
        </div>
    </div>
{% endblock %}