{% extends 'base.html.twig' %}

{% block title %}Aperçu élève{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="d-flex justify-content-center my-3">Fiche profil {{student.lastName }} {{student.firstName}}</h1>
        <div class="row my-3">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-img">
                        <img style="max-width: 100%;" src="{{ vich_uploader_asset(student, 'imageFile') }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="border border-primary pl-2">Nom : {{student.lastName}}</p>
                <p class="border border-secondary pl-2">Prénom : {{student.firstName}}</p>
                <p class="border border-success pl-2">Date de naissance : {{student.birthday}}</p>
                {% if student.pai != null %}
                    <p class="border border-danger pl-2">PAI : {{student.pai}}</p>
                {% endif %}
                {% if student.descriptionPAI != null %}
                    <div class="border border-danger pl-2">
                        <p>Description du PAI : </p>
                        <p>{{student.descriptionPai}}</p>
                    </div>
                {% endif %}
                {% if student.allergy != null %}
                    <p class="border border-warning pl-2 mt-3">Allergie : {{student.allergy}}</p>
                {% endif %}
                {% if student.descriptionAllergy != null %}
                    <div class="border border-warning pl-2">
                        <p>Description de l'allergie : </p>
                        <p>{{student.descriptionAllergy}}</p>
                    </div>
                {% endif %}
                <p class="border border-info pl-2 mt-3">Lunettes Extérieures : {{student.outdoorGlasses}}</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2">Parents</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr> 
                                <td><a href="{{ path('user_select_id', { id: user.id }) }}"><button type="button" class="btn btn-outline-success btn-sm mx-1">{{user.lastName}} {{user.firstName}}</button></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center my-3">
            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                <a href="{{ path('student_update', { id: student.id }) }}"><button type="button" class="btn btn-outline-primary btn-lg mx-1">Modifier élève</button></a>
                <a href="{{ path('student_delete', { id: student.id }) }}"><button type="button" class="btn btn-outline-danger btn-lg mx-1">Supprimer élève</button></a>
            {% endif %}
            <input type="button" class="btn btn-outline-info btn-lg mx-1" value="Retour" onclick="history.back()">
        </div>
    </div>
{% endblock %}