<nav class="navbar navbar-expand-lg navbar-dark bg-primary {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
          <a class="nav-link active" href="{{ path('user_select') }}">Profils
            <span class="visually-hidden">(current)</span>
          </a>
          <a class="nav-link active" href="{{ path('classroom_select') }}">Classes
            <span class="visually-hidden">(current)</span>
          </a>
          <a class="nav-link active" href="{{ path('student_select') }}">Elèves
            <span class="visually-hidden">(current)</span>
          </a>
          <a class="nav-link active" href="#">Devoirs
            <span class="visually-hidden">(current)</span>
          </a>
          <a class="nav-link active" href="{{ path('app_level') }}">Niveaux
            <span class="visually-hidden">(current)</span>
          </a>
          <a class="nav-link active" href="#">Compte
            <span class="visually-hidden">(current)</span>
          </a>
      </ul>
    </div>
    <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket">&#xf0e0;</i></a>
  </div>
</nav>