{% extends 'base.html.twig' %}

{% block title %}Aperçu utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="d-flex justify-content-center">Fiche profil {{user.lastName }} {{user.firstName}}</h1>
        <div class="row mt-3">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-img">
                        <img style="max-width: 100%;" src="{{ vich_uploader_asset(user, 'imageFile') }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="border border-primary pl-2">Nom : {{user.lastName}}</p>
                <p class="border border-secondary pl-2">Prénom : {{user.firstName}}</p>
                <p class="border border-success pl-2">Téléphone : {{user.phone}}</p>
                <p class="border border-danger pl-2">Email : {{user.email}}</p>
                {% if (user.roles[0] == "ROLE_ENSEIGNANT") and (user.classroom != null) %}
                    <p class="border border-warning pl-2">Enseignant : {{user.classroom.name}}</p>
                {% endif %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2">Enfants</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            {% if app.user.roles[0] != "ROLE_PARENT" %}
                                <tr> 
                                    <td><a href="{{ path('student_select_id', { id: student.id }) }}"><button type="button" class="btn btn-outline-success btn-sm mx-1">{{student.lastName}} {{student.firstName}}</button></a></td>
                                </tr>
                            {% endif %}
                            {% if app.user.roles[0] == "ROLE_PARENT" %}
                                <tr> 
                                    <td>{{student.lastName}} {{student.firstName}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                <a href="{{ path('user_update', { id: user.id }) }}"><button type="button" class="btn btn-outline-primary btn-lg mx-1">Modifier profil</button></a>
                <a href="{{ path('user_delete', { id: user.id }) }}"><button type="button" class="btn btn-outline-danger btn-lg mx-1">Supprimer profil</button></a>
            {% endif %}
            {% if app.user.id == user.id %}
                <a href="{{ path('user_updateMdp', { id: user.id }) }}"><input type="button" class="btn btn-outline-warning btn-lg mx-1" value="Modifier Mot De Passe"></a>
            {% endif %}
            <input type="button" class="btn btn-outline-info btn-lg mx-1" value="Retour" onclick="history.back()">
        </div>
    </div>
{% endblock %}