{% extends 'base.html.twig' %}

{% block title %}Aperçu utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="d-flex justify-content-center">Fiche profil {{user.lastName }} {{user.firstName}}</h1>
            <div>
                <img style="max-width: 50%;" src="{{ vich_uploader_asset(user, 'imageFile') }}">
            </div>
            <div>
                <p>{{user.lastName}}</p>
                <p>{{user.firstName}}</p>
                <p>{{user.adress}}</p>
                <p>{{user.email}}</p>
            </div>
            <div>
                <a href="{{ path('user_update', { id: user.id }) }}"><button>Modifier profil</button></a>
            </div>
    </div>
{% endblock %}