{% extends 'base.html.twig' %}

{% block title %}Modification Utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="d-flex justify-content-center">Modification Utilisateur</h1>
        {{form_start(form)}}
            <div class="row">
                    <div class="row">
                        <div class="col-6 text-right mt-2">
                            <p>{{ form_label(form.password) }}</p>
                        </div>
                        <div class="col-6">
                            <p>{{ form_widget(form.password) }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-right mt-2">
                            <p>{{ form_label(form.newPassword) }}</p>
                        </div>
                        <div class="col-6">
                            <p>{{ form_widget(form.newPassword) }}</p>
                        </div>
                    </div>        
                    <div class="row">
                        <div class="col-6 text-right mt-2">
                            <p>{{ form_label(form.confirmationPassword) }}</p>
                        </div>
                        <div class="col-6">
                            <p>{{ form_widget(form.confirmationPassword) }}</p>
                        </div>
                    </div>
                </div>
            </div>    
            <div class="d-flex justify-content-center mt-3">
                <input type="submit" class="btn btn-outline-success btn-lg mx-1" value="Enregistrer">
                <input type="button" class="btn btn-outline-info btn-lg mx-1" value="Annuler" onclick="history.back()">
            </div>
        {{form_end(form)}}
    </div>
{% endblock %}